#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  width: 100%;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
}

.search-page {
  display: grid;
  grid-template-rows: auto auto 1fr; /* Header, search input, and search results take up available space */
  height: 100vh; /* Full height of the viewport */
}

.header {
  background-color: #333;
  color: white;
  padding: 20px;
  margin-bottom: 5%;
}

.catalog-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Responsive grid with minimum item width of 200px */
  grid-gap: 20px; /* Gap between grid items */
}

.catalog-item {
  padding: 10px;
  border: 1px solid #ccc;
}